
/* =======================================================
 *  基本框架
 * ======================================================= */
 *:not(input,textarea) {
    -webkit-touch-callout: none;
    -webkit-user-select: none; /* Disable selection/Copy of UIWebView */
}
body{
    margin: 0;
    padding: 0;
    background: #f3f3f3 url('../images/bg.jpg') no-repeat;
    background-size:cover;
}
a {
    color:#f08519;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
a:hover, a:active, a:focus {
    color: #f08519;
    outline: none;
    text-decoration: none;
}
p {
    margin-bottom: 20px;
}
h1, h2, h3, h4, h5, h6, figure {
    color: #000;
    font-family: "微软雅黑", Arial, sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
}
  
/* =======================================================
 *  页头
 * ======================================================= */
 .header{
    width:100%; 
    height: 24px;
	left:0;
	top:0; 
	padding: 15px 0 10px 0;
    background: rgba(0,0,0,0.8);
	color:#fff;
	position: absolute;
	z-index: 1;
    overflow: hidden;
}
.divHeaderLeft{
    width: 25%;
    padding-left: 5%;
    float: left;
    overflow: hidden;
}
.btnHeader{
    float: left;
}
.btnHeader i{
    font-size: 1.2em;
}
.divHeaderMain{
    width: 38%;
    left: 31%;
    padding-top: 1px;
    position: absolute;
    text-align: center;
}
.imgHeaderLogo{
    width: 100%;
}
.divHeaderRight{
    width: 25%;
    padding-right: 2%;
    float: right;
}
.btnHeaderFloor{
    margin: 0;
    margin-top: -5px;
    padding: 8px 8px;
    border: none;
    background: none;
    color: #fff;
    text-align: right;
    float: right;
}
.btnHeaderFloor span{
    font-size: 0.95em;
    font-weight: 600;
}
.btnHeaderFloor i{
    font-size: 1.1em;
}

.divHeaderRight .el-button:focus, .divHeaderRight .el-button:hover{
    background: none;
}

.el-popper[x-placement^=bottom] .popper__arrow{
    border-bottom-color: #867e7d; 
}
.el-popper[x-placement^=bottom] .popper__arrow:after {
    border-bottom-color: #2f2726;
}
.popoverFloor{
    background: #2f2726;
    background: rgba(47,39,38,0.95);
    border: solid 1px #2f2726;
    color:#dfdfdf;
    border-radius: 10px;
}
.popoverFloor .spanTitle{
    color: #fff;
    font-size: 0.8em;
}
.popoverFloor ul{
    margin: 0;
    margin-top: 10px;
    padding: 0;
    list-style-type: none;
}
.popoverFloor ul li{
    padding: 10px 5px;
    border-bottom: solid 1px #373737;
}
.popoverFloor ul li:last-child{
    border-bottom: none;
}
.popoverFloor ul li span{
    margin-right: 15px;
    padding-left: 2px;
}
.popoverFloor ul li i{
    margin-right: 15px;
}
.popoverFloor ul li .checked{
    margin-right: 0;
    float: right;
}
.popoverFloor ul li .checked i{
    margin-right: 0;
    color: #f08519;
    font-size: 1.2em;
}
.popoverFloor ul li.liBlue{
    color:#3b91f3;
}

/* =======================================================
 *  页脚
 * ======================================================= */
 .footer{
	width:100%; 
	left:0;
	bottom: 0; 
	padding: 8px 0 6px 0;
    background: rgba(0,0,0,0.8);
	color:#fff;
	position: absolute;
	z-index: 1;
	overflow: hidden;
}
.footer ul{
	width:100%; 
	margin: 0;
	padding: 0;
	list-style-type: none; 
}
.footer ul li{
	width:33.3%;
    text-align: center;
	float: left;
}
.footer ul li i{
	margin-bottom: 3px;
	color:#fff;
	font-size: 1.2em;
	display: block;
}
.footer ul li span{
	color: #fff;
	font-size: 0.8em;
	display: block;
}
.footer ul li .routerC i{
	color:#f08519;
}
.footer ul li .routerC span{
	color:#f08519;
}

/* =======================================================
 *  内容区域
 * ======================================================= */
.main{
    width: 100%;
    top: 49px;
    bottom:59px;
    position: fixed;
    z-index: 0;
}

/* =======================================================
 *  内页 - room/favorite
 * ======================================================= */
 .divRoomTop{
    width: 96%;
    padding: 0 2%;
    background: rgba(0,0,0,0.8);
    overflow: scroll;
 }
 .divRoomTop ul{
    margin: 0;
	padding: 0;
	list-style-type: none; 
}
.divRoomTop ul li{
    padding: 5px 10px;
    font-size: 0.8em;
    font-weight: 600;
    color:#fff;
    float: left;
}
.divRoomTop ul li.liRoomTopC{
    color:#f08519;
}
.divRoomTop ul li.liRoomTopBlue{
    color:#3b91f3;
}

.divRoomTop2{
   width: 98%;
   padding: 0 1%;
   background: rgba(0,0,0,0.8);
   overflow: hidden;
}
.divRoomTop2 ul{
   margin: 0;
   padding: 0;
   list-style-type: none; 
}
.divRoomTop2 ul li{
   padding: 5px 16px;
   font-size: 1.1em;
   color:#fff;
   float: left;
}
.divRoomTop2 ul li.liRoomTopC i{
   color:#f08519;
}
.divRoomTop2 ul li.liRoomTopBlue i{
   color:#3b91f3;
}

.divRoom{
    width: 100%;
    padding-bottom: 30px;
    touch-action: pan-y!important; 
}

.divView{
    width: 92%;
    margin: 0 auto;
    overflow: hidden;
    touch-action: pan-y!important; 
}
.btnGallery, .btnList{
    padding: 10px 2%;
    color: #fff;
    float: right;
}
.btnViewC{
    color: #f08519;
}

.divRoomContent{
    width: 90%;
    margin: 0 auto;
    overflow: auto;
    touch-action: pan-y!important;
}

.divRoomGallery{
    /* margin-top: -15px; */
}
.divRoomGallery .divDevice{
    width: 39%;
    margin-top: 5%;
    padding: 2.5% 4%;
    border: solid 1px #fff;
    border-radius: 10px;
    overflow: hidden;
    touch-action: pan-y!important;
    position: relative;
}
.divRoomGallery .divDevice:nth-child(odd){
    float: left;
}
.divRoomGallery .divDevice:nth-child(even){
    float: right;
}
.divRoomGallery .divDevice:nth-child(even){
    margin-right: 0
}
.divRoomGallery .divDevice span{
    text-align: center;
    display: block;
}
.divRoomGallery .divDevice .divFavorite{
    width: 20px;
    display: block;
    position: absolute;
}
.divRoomGallery .divDevice .divFavorite i{
    color:#fff;
    font-size: 0.6em;
}
.divRoomGallery .divDevice .divIcon{
    margin: 10px 0;
    color: #fff;
    text-align: center;
}
.divRoomGallery .divDevice .divIcon i{
    font-size: 2.5em;
}
.divRoomGallery .divDevice .divInfo{
    overflow: hidden;
}
.divRoomGallery .divDevice .spanDeviceName{
    color:#fff;
    font-size: 0.95em;
}
.divRoomGallery .divDevice .spanDeviceSummary{
    height: 20px;
    margin-top: 2px;
    color:#b6b6b6;
    font-size: 0.75em;
}
.divRoomGallery .divDevice .divControl{
    width: 100%;
    height: 30px;
    margin-top: 10px;
    text-align: center;
    overflow: hidden;
}
.divRoomGallery .divDevice i.iconC{
    color:#f08519;
}

.divRoomList{
    width:100%;
}
.divRoomList .divDevice{
    width: 90%;
    padding: 10px 1% 10px 9%;
    background: rgba(47,39,38,0.8);
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
    overflow: hidden;
    touch-action: pan-y!important; 
}
.divRoomList .divDevice:nth-child(even){
    margin-right: 0
}
.divRoomList .divDevice span{
    display: block;
}
.divRoomList .divDevice .divFavorite{
    width: 3%;
    margin-top: 6px;
    float: left;
}
.divRoomList .divDevice .divFavorite i{
    color:#fff;
    font-size: 0.6em;
}
.divRoomList .divDevice .divIcon{
    width: 20%;
    color: #fff;
    text-align: center;
    float: left;
}
.divRoomList .divDevice .divIcon i{
    margin-top: 3px;
    font-size: 2em;
    display: block;
}
.divRoomList .divDevice .divInfo{
    width: 33%;
    overflow: hidden;
    float: left;
}
.divRoomList .divDevice .spanDeviceName{
    color:#fff;
    font-size: 0.95em;
}
.divRoomList .divDevice .spanDeviceSummary{
    margin-top: 2px;
    color:#b6b6b6;
    font-size: 0.75em;
}
.divRoomList .divDevice .divControl{
    width: 40%;
    text-align: right;
    float: left;
}
.divRoomList .divDevice i.iconC{
    color:#f08519;
}


/* =======================================================
 *  设备控制区 - 开/关、灯控/场景
 * ======================================================= */
 
.divRoomList .btnSwitch{
    width: 30%;
    margin-left: 67.5%;
    text-align: center;
}
.divRoomGallery .btnSwitch{
    width: 100%;
    text-align: center;
}
.divDevice .divControl .btnSwitch i{
    color:#fff;
    font-size: 1.6em;
}
.divDevice .divControl .btnSwitch i.iconC{
    color:#f08519;
}

.divRoomList .divDevice .divControl .btnSwitch{
    margin-top: 8px;
}


/* =======================================================
 *  设备控制区 - 调光
 * ======================================================= */
.divDevice .divControl .divDimmer1{
    width: 80%;
    padding:0 10%;
}
.divDevice .divControl .divDimmer2{
    width: 25%;
    margin-top: 10px;
    color: #fff;
    font-size: 0.8em;
    float: right;
}


/* =======================================================
 *  设备控制区 - 窗帘
 * ======================================================= */
.btnCurtain{
    width: 30%;
    margin-left: 2.5%;
    text-align: center;
 }
.divDevice .divControl .btnCurtain i{
    color:#fff;
    font-size: 0.7em;
    line-height: 30px;
}
.divDevice .divControl .iconC i{
    color:#f08519;
}
.divDevice .divControl .btnCurtain1{
    float: left;
}
.divDevice .divControl .btnCurtain1 i:last-child{
    margin-left: 0;
}
.divDevice .divControl .btnCurtain2{
    float: left;
}
.divDevice .divControl .btnCurtain2 i{
    font-size: 1.1em;
}
.divDevice .divControl .btnCurtain3{
    float: left;
}
.divDevice .divControl .btnCurtain3 i:first-child{
    margin-right: 0;
}

.divRoomList .divDevice .divControl .btnCurtain2{

}

/* =======================================================
 *  设备控制区 - 空调
 * ======================================================= */
 .btnAC{
    width: 30%;
    margin-left: 2.5%;
    text-align: center;
    float: left;
 }
 .divDevice .divControl .btnAC i{
    color:#fff;
    line-height: 30px;
}
.divDevice .divControl .btnAC i.iconC{
    color:#f08519;
}

.divDevice .divControl .btnAC1{
    /* width: 25%;
    float: left; */
}
.divDevice .divControl .btnAC2{
    /* width: 50%;
    float: left; */
}
.divDevice .divControl .btnAC2 i{
    font-size: 1.6em;
}
.divDevice .divControl .btnAC3{
    /* width: 25%;
    float: right; */
}

.divRoomList .divDevice .divControl .btnAC{
    margin-top: 5px;
}
.divRoomList .divDevice .divControl .btnAC2{
}

/* =======================================================
 *  设备控制区 - 空调温控器
 * ======================================================= */
.drawerAC{
    background: #2f2726;
    color:#b6b6b6;
    outline: none;
}
.drawerAC span{
    display: block;
}
.divDrawerACTitle{
    width: 60%;
    left: 20%;
    top: 20px;
    text-align: center;
    position: absolute;
}
.spanDrawerAC1{
    color: #fff;
    font-size: 1em;
    font-weight: 600;
    display: block;
}
.spanDrawerAC2{
    margin-top: 4px;
    font-size: 0.8em;
}
.divDrawerAC{
    width: 100%;
    top: 50px;
    text-align: center;
    position: absolute;
}
.spanDrawerAC3{
    font-size: 0.85em;
}
.spanDrawerAC4{
    font-size: 0.85em;
}
.divDrawerACScreen{
    margin-top: 60px;
    margin-bottom: 60px;
}
.divDrawerACTemperature{
    width: 50%;
    margin: 0 auto;
    margin-top: 12px;
    margin-bottom: 12px;
    line-height: 2.5em;
    overflow: hidden;
}
.divDrawerACTemperature1{
    width: 20%;
    font-size: 1.5em;
    float: left;
}
.divDrawerACTemperature2{
    width: 60%;
    color: #fff;
    font-size: 2.5em;
    float: left;
}
.divDrawerACTemperature3{
    width: 20%;
    font-size: 1.5em;
    float: right;
}

.divDrawerACMode{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 60px;
    line-height: 30px;
    overflow: hidden;
}
.divDrawerACMode .divDrawerACModeC .btnDeviceAcFan{
    width: 30px;
    height: 30px;
    margin: 0 auto;
    padding: 0;
    border-radius: 15px;
    background: none;
    border: none;
    color: #fff;
    display: block;
}
.divDrawerACMode .divDrawerACModeC .btnDeviceAcFan i{
    line-height: 30px;
}
.divDrawerACMode>div{
    width: 20%;
    text-align: center;
    float: left;
}
.divDrawerACMode>div i{
    font-size: 1.2em;
}
.divDrawerACMode>div i.iconC{
    color: #f08519;
}
.btnDrawerACSwitch{
    width: 40px;
    height: 40px;
    margin: 0 auto;
    line-height: 40px;
}
.btnDrawerACSwitch i{
    color: #fff;
    font-size: 2em;
}
.btnDrawerACSwitch i.iconC{
    color: #f08519;
}

.el-popper[x-placement^=top] .popper__arrow{
    border-top-color: #3c3c3c;
}
.el-popper[x-placement^=top] .popper__arrow:after {
    border-top-color: #3c3c3c;
}
.popoverAC{
    background: #3c3c3c;
    border: solid 1px #3c3c3c;
    color:#dfdfdf;
    border-radius: 10px;
}
.popoverAC .spanTitle{
    color: #7d7d7d;
    font-size: 0.8em;
}
.popoverAC ul{
    margin: 0;
    margin-top: 10px;
    padding: 0;
    list-style-type: none;
}
.popoverAC ul li{
    padding: 10px 5px;
    border-bottom: solid 1px #565656;
}
.popoverAC ul li:last-child{
    border-bottom: none;
}
.popoverAC ul li span{
    margin-right: 15px;
    padding-left: 2px;
}
.popoverAC ul li i{
    margin-right: 15px;
}


.divDrawerHeatingMode{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 60px;
    line-height: 30px;
    overflow: hidden;
}
.divDrawerHeatingMode .divDrawerACModeC .btnDeviceAcFan{
    width: 30px;
    height: 30px;
    margin: 0 auto;
    padding: 0;
    border-radius: 15px;
    background: none;
    border: none;
    color: #fff;
    display: block;
}
.divDrawerHeatingMode .divDrawerACModeC .btnDeviceAcFan i{
    line-height: 30px;
}
.divDrawerHeatingMode>div{
    width: 100%;
    text-align: center;
}
.divDrawerHeatingMode>div i{
    font-size: 1.2em;
}
.divDrawerHeatingMode>div i.iconC{
    color: #f08519;
}


.divDrawerFanMode{
    width: 40%;
    margin: 0 auto;
    margin-bottom: 60px;
    line-height: 30px;
    overflow: hidden;
}
.divDrawerFanMode .divDrawerACModeC .btnDeviceAcFan{
    width: 30px;
    height: 30px;
    margin: 0 auto;
    padding: 0;
    border-radius: 15px;
    background: none;
    border: none;
    color: #fff;
    display: block;
}
.divDrawerFanMode .divDrawerACModeC .btnDeviceAcFan i{
    line-height: 30px;
}
.divDrawerFanMode>div{
    width: 50%;
    text-align: center;
    float: left;
}
.divDrawerFanMode>div i{
    font-size: 1.2em;
}
.divDrawerFanMode>div i.iconC{
    color: #f08519;
}


/* =======================================================
 *  用户 - user
 * ======================================================= */
 .divUserTop{
     padding: 20px 0;
     background: rgba(0,0,0,0.8);
     overflow: hidden;
 }
 .divUserFace{
     width: 70px;
     height: 70px;
     margin-left: 6%;
     margin-right: 4%;
     border-radius: 35px;
     overflow: hidden;
     float: left;
 }
 .divUserFace img{
     width: 100%;
 }
 .divUserInfo{
    width: 50%;
    padding-top: 15px;
    float: left;
 }
 .divUserInfo span{
    color: #fff;
    display: block;
 }
 .spanUserInfo1{
    margin-bottom: 4px;
    font-size: 1em;
    font-weight: 600;
 }
 .spanUserInfo2{
    color: #adadad;
    font-size: 0.75em;
 }

 .divUserContent{
     width: 88%;
     margin: 0 auto;
     margin-top: 30px;
 }
 .divUserContent .title{
    margin-bottom: 15px;
    color: #fff;
    font-size: 0.8em;
    display: block;
 }
 .divUserContent .content{
    padding: 20px;
    background: rgba(47,39,38,0.8);
    color: #fff;
    border-radius: 10px;
 }
 .divUserContent .content ul{
    margin: 0;
    padding: 0;
    list-style: none;
 }
 .divUserContent .content ul li{
    padding: 10px 5px;
    border-bottom: solid 1px #686868;
}
.divUserContent .content ul li:last-child{
    border-bottom: none;
}
.divUserContent .content ul li i{
   color: #fff;
}
.divUserContent .content ul li span{
    margin-left: 20px;
    font-size: 0.9em;
    font-weight: 600;
}
.divUserContent .content ul li .divIcon{
    float: right;
}

.drawerBlock{
    background: #2f2726;
    color:#dfdfdf;
    outline: none;
    width:100%;
    height:100%;
}
.drawerBlock span{
    color: #7d7d7d;
    font-size: 0.8em;
    outline: none;
}
.drawerBlock ul{
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    padding: 0;
    list-style-type: none;
}
.drawerBlock ul li{
    padding: 10px 10px;
    border-bottom: solid 1px #373737;
}
.drawerBlock ul li:last-child{
    border-bottom: none;
}
.drawerBlock ul li span{
    margin-right: 15px;
    padding-left: 2px;
    color:#dfdfdf;
    font-size: 0.9em;
}
.drawerBlock ul li i{
    margin-right: 15px;
}
.drawerBlock ul li .checked{
    margin-right: 0;
    float: right;
}
.drawerBlock ul li .checked i{
    margin-right: 0;
    color: #f08519;
    font-size: 1.2em;
}


.drawerTheme{
    background: #2f2726;
    color:#dfdfdf;
    outline: none;
    width:100%;
    height:100%;
}
.drawerTheme span{
    color: #7d7d7d;
    font-size: 0.8em;
    outline: none;
}
.divUserTheme{
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}
.divUserThemeItem{
    width: 44%;
    border-radius: 8px;
    line-height: 0;
    overflow: hidden;
    position: relative;
}
.divUserThemeItem:nth-child(odd){
    float: left;
}
.divUserThemeItem:nth-child(even){
    float: right;
}
.divUserThemeItem img{
    width: 100%;
}
.divUserThemeBoard{
    width: 100%;
    top:0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    position: absolute;
    z-index: 100;
}
.divUserThemeIcon{
    right: 10px;
    bottom: 10px;
    position: absolute;
    z-index: 101;
}
.divUserThemeIcon i{
    color: #f08519;
    font-size: 1.5em;
}
.divUserThemeItemC .divUserThemeBoard{
    display: none;
}
.divUserThemeItemC .divUserThemeIcon{
    display: none;
}


.drawerTest{
    background: #2f2726;
    color:#dfdfdf;
    outline: none;
    width:100%;
    height:100%;
}
.drawerTest span{
    color: #7d7d7d;
    font-size: 0.8em;
    outline: none;
}
.divTabs{
    width: 90%;
    margin: 0 auto;
}
.divTabs .el-tabs__nav{
    width: 100%;
}
.divTabs .el-tabs__item{
    width: 50%;
    color: #dfdfdf;
    text-align: center;
}
.divTabs .el-tabs__item.is-active {
    color: #f08519;
}

.formTest{
    width: 92%;
    margin: 0 auto;
    margin-top: 50px;
}
.formTest label{
    color: #dfdfdf;
}
.formTest input{
    background: #7d7d7d;
    border: none;
    color: #fff;
}
.formTest button{
    width: 100%;
    padding: 15px 0;
    left: 0;
    bottom: 0;
    background: #f08519;
    border: none;
    border-radius: 0;
    position: fixed;
}
.formTest button:hover{
    background: #f08519;
}
.formTest button:active{
    background: #f08519;
}
.formTest button span{
    color: #fff;
    font-size: 1.2em;
    letter-spacing: 10px;
}

.divSend{
    width: 100%;
    overflow: hidden;
}
.divSend input{
    width: 76%;
    height: 30px;
    padding: 0 2%;
    background: #7d7d7d;
    border: none;
    color: #fff;
    font-size: 0.95em;
    line-height: 30px;
    outline: none;
    float: left;
}
.divSend>div{
    width: 20%;
    height: 30px;
    background: #f08519;
    color: #fff;
    text-align: center;
    font-size: 0.8em;
    line-height: 30px;
    letter-spacing: 2px;
    float: left;
}
.divSendMessage{
    margin-top: 10px;
    overflow-y: auto;
}


.drawerGateway{
    background: #2f2726;
    color:#dfdfdf;
    outline: none;
    width:100%;
    height:100%;
}
.drawerGateway span{
    color: #7d7d7d;
    font-size: 0.8em;
    outline: none;
}
.drawerGateway ul{
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    padding: 0;
    list-style-type: none;
}
.drawerGateway ul li{
    padding: 10px 10px;
    border-bottom: solid 1px #373737;
    font-size: 0.9em;
    overflow: hidden;
}
.drawerGateway ul li:last-child{
    border-bottom: none;
}
.drawerGateway ul li span{
    margin-right: 15px;
    padding-left: 2px;
    color:#dfdfdf;
    font-size: 0.9em;
}
.drawerGateway ul li i{
    margin-right: 15px;
}
.divGateway1{
    width: 35%;
    overflow: hidden;
    float: left;
}
.divGateway2{
    width: 50%;
    overflow: hidden;
    float: left;
}
.divGateway3{
    width: 15%;
    overflow: hidden;
    float: left;
}


/* =======================================================
 *  消息 - message
 * ======================================================= */
.divMessage{
    width: 92%;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: auto;
}
.divMessageItem{
    width: 94%;
    margin-top: 10px;
    padding: 10px 3%;
    background: rgba(47,39,38,0.8);
    color: #d5d5d5;
    font-weight: normal;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
}
.divMessageItem:last-child{
    margin-bottom: 10px;
}
.divMessageItem .divTitle i{
    margin-right: 5px;
}
.divMessageItem .divTitle span{
    font-size: 0.95em;
}
.divMessageItem .divDate{
    margin-top: 2px;
    margin-bottom: 4px;
    font-size: 0.8em;
}
.divMessageItem .divContent{
    font-size: 0.9em;
}
.divMessageItem .btnDelete{
    top: 10px;
    right: 10px;
    color: #f08519;
    position: absolute;
}
.divMessageItem .btnDelete i{
    font-size: 1.2em;
}
/* =======================================================
 *  关于 - about
 * ======================================================= */
 .drawerAbout{
    background: #2f2726;
    color:#dfdfdf;
    outline: none;
    width:100%;
    height:100%;
 }
.divAboutLogo,.divAboutAppname,.divAboutVersion{
    width:50%;
    text-align: center;
    margin-left: 25%;
    color:#bdbdbd;
  }
  .divAboutLogo img{
    width:128px;
  }
  .divAboutAppname{
    font-size: 2em;
  }
  .divAboutVersion{
    font-size: 1.5em;
  }
  .hrAbout{
    width: 96%;
  }

  .ulLog{
    color:#ffffff;
  }
  .ulLog li{
    list-style: none;
    font-size: 1em;
  }

.tempRoom{
    width: 100%;
    background: red;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    z-index: -1;
}